extends layout

block content
  h1= FormPage
  p Welcome to #{title}

  form(method='post', action='/users')
    | First Name: 
    input(name='firstname', type='text')
    br
    |   Last Name: 
    input(name='lastname', type='text')
    br
    input(name='submit', type='submit', value='Submit')






